{% extends 'base.html' %} {%block title%} All Products {% endblock title %} {% block content %}
<div class="container"><br>
    <h1 class="text-center">All Products</h3>
        {%for category in allproducts %}
        <br>
        <hr><br>
        <h2 class="text-center">{{category}}</h2><br>
        <div class="row">
            <!-- {% for products in category.product_set.all %}  -->
            {% for product in products %}
            <div class="col-md-4 ">
                <h4><a href="{% url 'productdetail' products.pk %}">{{products.title}}</h4><br>
                <img src="{{products.image}}" width="170px" alt="" />
                <h4>Price : ${{products.price}}</h4><br>
                <!-- <a href="" class="btn btn-primary">Add To Cart</a> -->
                    </a>
                    <br /><br /><br><br>
            </div><br><br> {% endfor %}
        </div><br> {%endfor%}
        <!-- <a class="button is-dark" href="{% url 'product_create' %}">Add a product</a> -->
</div>{% endfor %}{%endblock%}